MAINICON ICON "Ressourcen\Activator\Icon.ico"

1 VERSIONINFO
FILEVERSION 4,1,0,0
PRODUCTVERSION 4,1,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "00000000"
	{
		VALUE "CompanyName", "ViaThinkSoft\0"
		VALUE "FileDescription", "(De)Coder 4.1 Activator\0"
		VALUE "FileVersion", "4.1.0.0\0"
		VALUE "InternalName", "DeCoder4\0"
		VALUE "LegalCopyright", "© Copyright 2001 - 2007 ViaThinkSoft\0"
		VALUE "OriginalFilename", "Activator.exe\0"
		VALUE "ProductName", "(De)Coder\0"
		VALUE "ProductVersion", "4.1.0.0\0"
		VALUE "Projektleiter", "Daniel Marschall - www.daniel-marschall.de\0"
		VALUE "Webseite", "www.viathinksoft.de\0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0000 0x0000
}
}
